# Karakalpakstan Districts
DISTRICTS=["Nukus shahri", "Amudaryo", "Beruniy", "Bo'zatov", "Chimboy", "Ellikqala", "Qanliko'l", "Qorao'zak", "Kegeyli", "Xo'jayli", "Qo'ng'irot", "Mo'ynoq", "Nukus tumani", "Shumanay", "Taxiatosh", "Taxtako'pir", "To'rtko'l", "Qarao'zak"]
